.bt-anotacao {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 2px solid #6a5be2;
  color: #1b1c30;
  margin-top: 2%;
  margin-left: 50px;
  width: 100%;
  padding-top: 10px;
  transition: all ease 0.5s;
}

.bt-anotacao span {
  font-weight: bold;
}

.bt-anotacao:hover {
  background-color: #6a5be2;
  color: #f0f0f0;
}

#div-pesquisar {
  margin-top: 1%;
  margin-left: 50px;
  padding-top: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.148) 0px 4px 12px;
  /* background-color: red; */
}

#div-pesquisar i {
    color: #6a5be2;
    width: 3%;
}

#pesquisar {
    width: 96%;
    border: none;
    background-color: #f0f0f0;
    font-size: 15px;
}

#pesquisar:focus-visible {
    outline: none;
    caret-color: #6a5be2;
}
