@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #f0f0f0;
  height: 100%;
}

body {
  background-image: url("../assets/bg.svg");
  background-size: 2000px 1000px;
  background-position: -500px 0;
  animation: gradient 10s infinite alternate linear;
}

.cadastro {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0ef;
  box-shadow: 5px 5px 15px rgba(149, 149, 149, 0.7);
  border-radius: 10px;
}

.cadastro h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #6a5be2;
  text-align: center;
}

.campo-user input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #1b1c30;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #6a5be2;
  outline: none;
  background: transparent;
}

.campo-user label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #1b1c30;
  pointer-events: none;
  transition: 0.5s all ease;
}

.campo-user input:focus ~ label,
.campo-user input:valid ~ label {
  top: -85px;
  left: 0;
  color: #6a5be2;
  font-size: 12px;
}

#submit {
  padding: 10px 20px;
  color: #f0f0f0;
  background-color: #6a5be2;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#submit:hover {
  opacity: 0.8;
}

.bt-form {
  display: flex;
}

#login {
  font-size: 16px;
  text-decoration: none;
  color: #1b1c30;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  text-align: center;
}

#login a {
  margin: auto;
  color: #6a5be2;
  text-decoration: none;
}

@keyframes gradient {
  100% {
    background-size: 4000px 1000px;
  }
}

@media (max-width: 600px) {
  .cadastro {
    width: 90%;
  }
}
